.container {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  align-items: center;
}

.header {
justify-content: center;
align-items: flex-start;
background-color: white;
width: 100%;
/* text-align: center; */
}

.body {
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: row;
  /* margin-top: 4vmin; */
  justify-content: space-around;
}

.info {
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}