.container {
  /* background-color: #5127AA; */
  display: flex;
  flex-direction: column;
  height: 100vmin;
  align-items: center;
}

.header {
justify-content: center;
align-items: center;
background-color: #5127AA;
width: 100%;
text-align: center;

}

.body {
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 6vmin;
  justify-content: space-around;
}

.info {
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}